<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JsonParseApiEndpoint" value="http://localhost:54238/api/jsonParse" />
    <add key="EnvironmentPath" value="D:\\Seven West Git\\Core" />
    <add key="FileName" value="example_data.json" />
  </appSettings>
</configuration>